html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


img[alt="Google"][draggable=false] {
  display: none;
}
div.gmnoprint {
  display: none;
}

audio {
  width: 300px !important;
  height: 54px !important;
}

.audio-container > div{ 
  width: 0px !important;
  height: 60px !important;


}